.vscode/**
.vscode-test/**
out/**
node_modules/**
webview/node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
esbuild.webview.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.vsix
**/.vscode-test.*
.github/**
.husky/**
.specify/**
specs/**
tmp/**
docs/**
.git/**
.git-crypt/**
.prettierignore
.prettier
.eslintignore
CLAUDE.md
README.md
CHANGELOG.md
